<div class="container mt-4">
    <form [formGroup]="generalForm" class="w-100 d-block">
        <div class="row">

            <div class="col-sm">
                <div class="input-group mb-2">
                    <select class="form-select" formControlName="departamento" (change)="onDptoSeleccionado()" required>
                        <option selected value="">Seleccione el departamento</option>
                        <option *ngFor="let item of listaDpto" [ngValue]="item.codigo"
                            [selected]="parametro == item.codigo">{{item.nombre }}</option>
                    </select>

                </div>
                <div class="input-group mb-2">
                    <select class="form-select" formControlName="municipio" required>
                        <option selected value="">Seleccione el municipio</option>
                        <option *ngFor="let item of listaMpio" [ngValue]="item.codigo"
                            [selected]="parametro == item.codigo">{{item.nombre }}</option>
                    </select>
                </div>
                <div class="input-group mb-2">
                    <input type="text" formControlName="nombre" placeholder="ingrese nombre de la bodega"
                        class="form-control border-end-0" required>
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div class="input-group mb-2">
                    <input type="text" formControlName="puntoEntrega" placeholder="ingrese nombre del punto de entrega"
                        class="form-control border-end-0" required>
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div class="input-group mb-2">
                    <input type="text" formControlName="direccion" placeholder="ingrese la dirección de la bodega"
                        class="form-control border-end-0" required>
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="input-group mb-2">
                    <input type="text" formControlName="telefono" placeholder="ingrese teléfono"
                        class="form-control border-end-0" required>
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="input-group mb-2">
                    <input type="text" formControlName="email" placeholder="ingrese email"
                        class="form-control border-end-0" required>
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-user"></i>
                    </span>
                </div>


                <div class="d-flex flex-wrap align-items-center gap-3 mb-2">
                    <label class="d-flex align-items-center">
                      <input class="form-check-input me-2" type="checkbox" formControlName="estado">
                      Activa
                    </label>
                  
                    <label class="d-flex align-items-center">
                      <input class="form-check-input me-2" type="checkbox" formControlName="dispensa">
                      Habilitada para dispensar
                    </label>
                  
                    <label class="d-flex align-items-center">
                      <input class="form-check-input me-2" type="checkbox" formControlName="entrada">
                      Habilitada para ingresos
                    </label>
                  
                    <label class="d-flex align-items-center">
                      <input class="form-check-input me-2" type="checkbox" formControlName="salida">
                      Habilitada para salidas
                    </label>
                  
                    <label class="d-flex align-items-center">
                      <input class="form-check-input me-2" type="checkbox" formControlName="inventario">
                      Habilitada para inventario
                    </label>
                  </div>


                <hr>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-outline-primary w-100" (click)="create()"><i class="far fa-save"></i>
                            {{this.nombrebtn}}</button>
                    </div>
                    <div class="col-sm">
                        <button  *ngIf="!banderaRegistro && tieneAcceso(3)" type="button" class="btn btn-outline-primary w-100"
                            (click)="mostrarInactivos()">
                            Bodegas Inactivas
                        </button>
                        <button *ngIf="banderaRegistro" type="button" class="btn btn-outline-primary w-100"
                            (click)="mostrarActivos()">
                            Bodegas activas
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="date-inputs">
                    <input type="date" formControlName="fInicial" class="form-control border-end-0 date-input">
                    al
                    <input type="date" formControlName="fFinal" class="form-control border-end-0 date-input"  [max]="hoy"> <!---->

                    <button class="btn btn-outline-primary w-100" [matMenuTriggerFor]="menuC">
                        Generar reportes consolidados 
                    </button>



                    <mat-menu #menuC="matMenu">
                        <button *ngIf ="tieneAcceso(3)" (click)='reporteBodegaEntregasDetalldasTodas()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'green'}">art_track</mat-icon>
                            <span>Entregas detalladas</span>
                        </button>

                        <button *ngIf ="tieneAcceso(3)" (click)='reporteExistenciasActualestotal()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'#2BB6D7'}">playlist_add_check</mat-icon>
                            <span>Existencias actuales</span>
                        </button>

                        <button *ngIf ="tieneAcceso(3)" (click)='reportePendientesTodos()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'orange'}">remove_circle_outline</mat-icon>
                            <span>Consolidado de pendientes</span>
                        </button>

                        <button *ngIf ="tieneAcceso(3)" (click)='reportePendientesDetalldos(0)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'#2BB6D7'}">blur_linear</mat-icon>
                            <span>Detallado de pendientes</span>
                        </button>                       

                        <button (click)='reporteCuotasModeradoras(0)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'black'}">monetization_on</mat-icon>
                            <span>Cuotas moderadoras</span>
                        </button>

                        <button (click)='reporteFormulasPrescritas()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'green'}">filter_9_plus</mat-icon>
                            <span>Consolidado de formulas</span>
                        </button>
                        <button (click)='reporteEnConstruccion()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'blue'}">event_note</mat-icon>
                            <span>Formulas por meses</span>
                        </button>

                        <button *ngIf ="tieneAcceso(3)" (click)='reporteFormulasDetalldas(0,0)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'green'}">low_priority</mat-icon>
                            <span>Detalle de formulas</span>
                        </button>

                        <button (click)='reporteFormulasDetalldas(0,1)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'red'}">block</mat-icon>
                            <span>Formulas Anuladas</span>
                        </button>

                        <button (click)='reporteFormulasNoProcesadas(0)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'red'}"> live_help</mat-icon>
                            <span>Formulas no procesadas</span>
                        </button>                 

                        <button *ngIf ="tieneAcceso(3)" (click)='exportarMedicamentosNorotanxlsx(0)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'orange'}">gps_off</mat-icon>
                            <span>Medicamentos que no rotan</span>
                        </button>
                        <button *ngIf ="tieneAcceso(3)" (click)='exportarVencidosxlsx(0)' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'red'}">report</mat-icon>
                            <span>Medicamentos vencidos</span>
                        </button>     
                        <button (click)='reporteEnConstruccion()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'blue'}">event_note</mat-icon>
                            <span>Prescritos por meses</span>
                        </button>                  
<!--
                        <button (click)='reporteEnConstruccion()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'green'}">monetization_on</mat-icon>
                            <span>Costo formulación</span>
                        </button>

                       

                        <button (click)='reporteEnConstruccion()' mat-menu-item>
                            <mat-icon [ngStyle]="{'color':'blue'}">event_note</mat-icon>
                            <span>Entregados por meses</span>
                        </button>
-->

                    </mat-menu>




                </div>
            </div>
        </div>
    </form>

    <div class="alert alert-info my-4" *ngIf="listaregistros?.length == 0">
        No hay registros para mostrar!
    </div>
    <div *ngIf="listaregistros?.length > 0">
        <table class="table table-striped table-hover table-sm mt-2">
            <thead class="thead-colored">
                <tr>
                    <th>Item</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Punto de entrega</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>                    
                    <th>Ver</th>
                    <th>Gestión</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemt of listaregistros let i= index"
                    [ngStyle]="{'color': itemt.estado ? 'black' : 'red' }">

                    <td>{{i+1}}</td>
                    <td>{{itemt.idBodega}}</td>
                    <td>{{primerasmayusculas(itemt.nombre)}}</td>
                    <td>{{primerasmayusculas(itemt.puntoEntrega)}}</td>
                    <td>{{primerasmayusculas(itemt.direccion)}}</td>
                    <td>{{primerasmayusculas(itemt.telefono)}}</td>
                    
                    <td>

                        <mat-icon title="Mdicamentos bodega" class="pointer-cursor" [ngStyle]="{'color':'#009A94'}"
                            [routerLink]="['/menu/medicamentobodega', itemt.idBodega]">playlist_add_check</mat-icon>

                        <mat-icon title="Mdicamentos pendientes" class="pointer-cursor" [ngStyle]="{'color':'orange'}"
                            [routerLink]="['/menu/pendiente', itemt.idBodega]">remove_circle_outline</mat-icon>
                        <!--
                            record_voice_over  local_hospital
                          

                        -->
                    </td>
                    <td>
                        <mat-icon title="Listar en PDF" class="pointer-cursor" [ngStyle]="{'color':'#009A94'}"
                            [matMenuTriggerFor]="menu">print</mat-icon>

                        <mat-icon *ngIf ="tieneAcceso(3)" title="Actualizar datos de la bodega" class="pointer-cursor"
                            [ngStyle]="{'color':'#009A94'}" (click)="mostrarRegistro(itemt)">edit</mat-icon>

                        <mat-icon *ngIf ="tieneAcceso(3)" title="Eliminar la bodega" class="pointer-cursor" [ngStyle]="{'color':'red'}"
                            (click)="eliminarRegistro(itemt)">delete_sweep</mat-icon>

                        <mat-menu #menu="matMenu">
                            
                            <button (click)='reporteBodegaEntregasDetalldas(itemt)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'green'}">art_track</mat-icon>
                                <span>Entregas detalladas</span>
                            </button>
                            <button (click)='reporteExistenciasActuales(itemt)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'#2BB6D7'}">playlist_add_check</mat-icon>
                                <span>Existencias actuales PDF</span>
                            </button>

                            <button (click)='exportarExistenciasxlsx(itemt.idBodega)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'green'}">playlist_add_check</mat-icon>
                                <span>Existencias actuales XLSX</span>
                            </button>

                            <button (click)='reportePendientes(itemt)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'orange'}">remove_circle_outline</mat-icon>
                                <span>Consolidado de pendientes</span>
                            </button>

                            <button (click)='reportePendientesDetalldos(itemt.idBodega)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'#2BB6D7'}">blur_linear</mat-icon>
                                <span>Detallado de pendientes</span>
                            </button>

                            <button (click)='reporteStopMinimo(itemt)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'black'}">vertical_align_bottom</mat-icon>
                                <span>Por debajo de stock mínimo</span>
                            </button>
                            <button (click)='reporteBodegaEntregas(itemt)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'green'}">low_priority</mat-icon>
                                <span>Entregas consolidadas</span>
                            </button>
                            <button (click)='reporteBodegaEntregasMeses(itemt)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'blue'}">event_note</mat-icon>
                                <span>Ent. consolidadas por meses</span>
                            </button>         

                            <button (click)='reporteFormulasDetalldas(itemt.idBodega,0)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'green'}">low_priority</mat-icon>
                                <span>Detalle de formulas</span>
                            </button>
    
                            <button (click)='reporteFormulasDetalldas(itemt.idBodega,1)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'red'}">block</mat-icon>
                                <span>Formulas Anuladas</span>
                            </button>

                            <button (click)='reporteFormulasNoProcesadas(itemt.idBodega)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'red'}"> live_help</mat-icon>
                                <span>Formulas no procesadas</span>
                            </button>
                            

                            <button (click)='exportarMedicamentosNorotanxlsx(itemt.idBodega)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'orange'}">gps_off</mat-icon>
                                <span>Medicamentos que no rotan</span>
                            </button>
                            <button (click)='exportarVencidosxlsx(itemt.idBodega)' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'red'}">report</mat-icon>
                                <span>Medicamentos vencidos</span>
                            </button>
<!--
                            <button (click)='reporteEnConstruccion()' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'blue'}">event_note</mat-icon>
                                <span>Prescritos por meses</span>
                            </button>
    
                            <button (click)='reporteEnConstruccion()' mat-menu-item>
                                <mat-icon [ngStyle]="{'color':'blue'}">event_note</mat-icon>
                                <span>Entregados por meses</span>
                            </button>
  -->                          
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>