<div class="app-container" [class.mobile]="mobileQuery.matches" *ngIf="shouldRun">

  <!-- TOOLBAR SUPERIOR -->
  <mat-toolbar class="main-toolbar">

    <button mat-icon-button (click)="snav.toggle()" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo-container">
      <img src="assets/logosism.png" alt="Logo" class="logo">
      <h1 class="app-name">Dispensario SISM App</h1>
    </div>

    <span class="spacer"></span>

    <div class="user-section" *ngIf="isLoggedIn">
      <div class="user-avatar">
        <mat-icon>person</mat-icon>
      </div>
      <div class="user-info">
        <strong>{{funcionario | uppercase}}</strong>
        <div>{{bodegaActual?.nombre | titlecase}}</div>
        <div>{{bodegaActual?.puntoEntrega | titlecase}}</div>
      </div>
    </div>

  </mat-toolbar>

  <!-- CONTENEDOR PRINCIPAL -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="sidebarOpen" class="sidenav">

      <mat-accordion multi="true">

        <mat-expansion-panel *ngFor="let grupo of menuAgrupado" [hideToggle]="!sidebarOpen" [disabled]="!sidebarOpen"
          [expanded]="isGrupoActivo(grupo)" [ngClass]="{'grupo-activo': isGrupoActivo(grupo)}">

          <!-- HEADER DEL GRUPO -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="group-icon" [matTooltip]="!sidebarOpen ? grupo.nombre : ''" matTooltipPosition="right">
                {{grupo.icon}}
              </mat-icon>

              <span *ngIf="sidebarOpen">
                {{grupo.nombre}}
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- ITEMS DEL GRUPO -->
          <mat-nav-list>
            <ng-container *ngFor="let item of grupo.items">
              <a mat-list-item *ngIf="tieneAcceso(item.nivel)" [routerLink]="['/menu', item.route]"
                [ngClass]="{'active-link': esRutaActiva(item.route)}" [matTooltip]="item.name"
                matTooltipPosition="right" (click)="mobileQuery.matches ? snav.close() : null">
                <mat-icon matListItemIcon class="icono">
                  {{item.icon}}
                </mat-icon>
                <span #menuLabel class="menu-text" [matTooltip]="tooltipMap[item.route] || ''"
                  [matTooltipDisabled]="!tooltipMap[item.route]" matTooltipPosition="right" matTooltipShowDelay="300">
                  {{ item.name }}
                </span>
              </a>


            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>

    </mat-sidenav>

    <!-- CONTENIDO -->
    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>