
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  color: #003366 !important;
  font-weight: bold !important;
}

.logo-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.logo {
  height: 40px; /* Ajusta el tamaño de la imagen según necesites */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
mat-sidenav{
    width: 200px;
}
.icono{
    margin-right: 10px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-toolbar {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.user-info {
  font-size: 0.75rem; /* Disminuir tamaño del texto */
  line-height: 1.2;   /* Ajustar el espacio entre líneas */
  text-align: right;  /* Alinear el texto a la derecha */
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0;   /* Espacio alrededor del icono */
}

.icon-center mat-icon {
  font-size: 1.5rem; /* Tamaño del icono */
}

:host ::ng-deep .mat-toolbar {
 /* background: linear-gradient(90deg, #67ACD6, #71E0D2) !important; 
background: radial-gradient(to right, #5D8FA5, #6CC5D4);
  background: radial-gradient(circle, #5D8FA5, #6CC5D4);  
  color: white !important;*/
  background: linear-gradient(90deg, #67ACD6, #5D8FA5) !important;
}

.mat-list-item.active-link {
  background-color: #CFF4FC !important;  /* Fondo verde claro (puedes cambiarlo) */
  box-shadow: inset 3px 0px 0px hsl(353, 98%, 52%);  /* Línea roja en el lateral izquierdo */
  border-radius: 5px;  /* Esquinas redondeadas */
  padding-left: 10px;  /* Espacio extra para el texto */
  font-weight: bold;
  color: #39548B !important;  /* Color de texto activo */
}


.mat-list-item.active-link mat-icon {
  color: #ff6347 !important;              /* Color personalizado del ícono cuando el menú está activo */
}