<div class="container mt-2">

    <form [formGroup]="generalForm" class="px-2">
        <div class="row g-3">
            <!-- Columna 1: Descripción -->
            <div class="col-md-4">
                <!-- Checkbox -->
                <div class="mb-2">
                    <label class="form-label d-flex align-items-center fw-bold">
                        <input class="form-check-input me-2" type="checkbox" formControlName="todosMedicamentos">
                        Todos los ID de Medicamentos
                    </label>
                </div>
                <textarea formControlName="medicamento" rows="6" class="form-control form-control-sm"
                    placeholder="Ingrese lista de ID de medicamentos a consultar, separados por ','"></textarea>
            </div>
            <!-- Columna 2: Bodega + Rango de fechas -->
            <div class="col-md-4">
                <!-- Selector de Bodega -->
                <div class="mb-2">
                    <label class="form-label mb-1 fw-bold">Bodega</label>
                    <select class="form-select form-select-sm" formControlName="idBodega">
                        <option selected value="0">TODAS LAS BODEGAS</option>
                        <option *ngFor="let item of listaregistros" [ngValue]="item.idBodega">
                            {{ item.nombre }}
                        </option>
                    </select>
                </div>
                <!-- Rango de Fechas -->
                <div>
                    <label class="form-label mb-1 fw-bold">Rango de fechas</label>
                    <div class="d-flex gap-1">
                        <input type="date" formControlName="fInicial" class="form-control form-control-sm">
                        <span class="px-1 text-muted d-flex align-items-center">al</span>
                        <input type="date" formControlName="fFinal" class="form-control form-control-sm">
                    </div>
                </div>
                <!-- Checkbox -->
                <div *ngIf="medicamentoIds?.length == 1" class="mt-2">
                    <label class="form-label d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" formControlName="vista">
                        Vista por bodega
                    </label>
                </div>

            </div>
            <!-- Columna 3: Botones + Alerta -->
            <div class="col-md-4 d-flex flex-column justify-content-between">

                <!-- Botones -->
                <div class="mb-3">
                    <button type="button"
                        class="btn btn-info w-100 d-flex align-items-center justify-content-center mb-2"
                        (click)="buscarRegistro(parametro)">
                        <mat-icon class="me-1">search</mat-icon> Buscar
                    </button>

                    <button type="button" class="btn  w-100 d-flex align-items-center justify-content-center"
                        (click)="exportarExcelPrescritos()">
                        <img src="assets/iconos/excel.svg" alt="icono reporte" width="22" height="22" /> Exportar
                    </button>
                </div>

                <div *ngIf="listaentregas?.length > 0"
                    class="card shadow-sm text-center flex-fill border-0 bg-success-subtle d-flex align-items-center justify-content-center py-2">
                    <div>
                        <small class="text-success">Total Moléculas Prescritas:</small>
                        <div class="fw-bold text-success fs-6">{{ listaentregas?.length || 0 }}</div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="alert alert-info my-2" *ngIf="listaentregas?.length == 0">
        No hay prescripciones de estos medicamento en la fecha y bodega seleccionada!
    </div>

    <div *ngIf="listaentregas?.length > 0  && tableVista">
        <div class="table-responsive">
            <table class="table table-sm table-hover mt-2 zebra-group">
                <thead class="thead-colored">
                    <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Medicamento</th>
                        <th>ID</th>
                        <th>Presentación</th>
                        <th>P/E</th>
                        <th>Ene</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Abr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Ago</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dic</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let itemt of listaentregas; let i = index">
                        <tr>
                            <td [attr.rowspan]="2" class="fw-bold text-start">{{ i + 1 }}</td>
                            <td [attr.rowspan]="2" class="text-start">{{ itemt.nombre }}</td>
                            <td [attr.rowspan]="2">{{ itemt.id }}</td>
                            <td [attr.rowspan]="2">{{ itemt.formaFarmaceutica || '-' }}</td>
                            <td class="fw-bold text-primary text-start">Prescritos</td>
                            <td>{{ itemt.enero }}</td>
                            <td>{{ itemt.febrero }}</td>
                            <td>{{ itemt.marzo }}</td>
                            <td>{{ itemt.abril }}</td>
                            <td>{{ itemt.mayo }}</td>
                            <td>{{ itemt.junio }}</td>
                            <td>{{ itemt.julio }}</td>
                            <td>{{ itemt.agosto }}</td>
                            <td>{{ itemt.septiembre }}</td>
                            <td>{{ itemt.octubre }}</td>
                            <td>{{ itemt.noviembre }}</td>
                            <td>{{ itemt.diciembre }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-success text-start">Entregados</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.eneroEntregado !== itemt.enero}">{{
                                itemt.eneroEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.febreroEntregado !== itemt.febrero}">{{
                                itemt.febreroEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.marzoEntregado !== itemt.marzo}">{{
                                itemt.marzoEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.abrilEntregado !== itemt.abril}">{{
                                itemt.abrilEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.mayoEntregado !== itemt.mayo}">{{
                                itemt.mayoEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.junioEntregado !== itemt.junio}">{{
                                itemt.junioEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.julioEntregado !== itemt.julio}">{{
                                itemt.julioEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.agostoEntregado !== itemt.agosto}">{{
                                itemt.agostoEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.septiembreEntregado !== itemt.septiembre}">{{
                                itemt.septiembreEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.octubreEntregado !== itemt.octubre}">{{
                                itemt.octubreEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.noviembreEntregado !== itemt.noviembre}">{{
                                itemt.noviembreEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.diciembreEntregado !== itemt.diciembre}">{{
                                itemt.diciembreEntregado }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="listaentregas?.length > 0 && !tableVista">
        <div class="table-responsive">
            <table class="table table-sm table-hover mt-2 zebra-group">
                <thead class="thead-colored">
                    <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Nombre de la bodega</th>

                        <th>P/E</th>
                        <th>Ene</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Abr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Ago</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dic</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let itemt of listaentregas; let i = index">
                        <tr>
                            <td [attr.rowspan]="2" class="fw-bold text-start">{{ i + 1 }}</td>
                            <td [attr.rowspan]="2" class="text-start">{{ itemt.bodega }}</td>
                            <td class="fw-bold text-primary text-start">Prescritos</td>
                            <td>{{ itemt.enero }}</td>
                            <td>{{ itemt.febrero }}</td>
                            <td>{{ itemt.marzo }}</td>
                            <td>{{ itemt.abril }}</td>
                            <td>{{ itemt.mayo }}</td>
                            <td>{{ itemt.junio }}</td>
                            <td>{{ itemt.julio }}</td>
                            <td>{{ itemt.agosto }}</td>
                            <td>{{ itemt.septiembre }}</td>
                            <td>{{ itemt.octubre }}</td>
                            <td>{{ itemt.noviembre }}</td>
                            <td>{{ itemt.diciembre }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-success text-start">Entregados</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.eneroEntregado !== itemt.enero}">{{
                                itemt.eneroEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.febreroEntregado !== itemt.febrero}">{{
                                itemt.febreroEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.marzoEntregado !== itemt.marzo}">{{
                                itemt.marzoEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.abrilEntregado !== itemt.abril}">{{
                                itemt.abrilEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.mayoEntregado !== itemt.mayo}">{{
                                itemt.mayoEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.junioEntregado !== itemt.junio}">{{
                                itemt.junioEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.julioEntregado !== itemt.julio}">{{
                                itemt.julioEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.agostoEntregado !== itemt.agosto}">{{
                                itemt.agostoEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.septiembreEntregado !== itemt.septiembre}">{{
                                itemt.septiembreEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.octubreEntregado !== itemt.octubre}">{{
                                itemt.octubreEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.noviembreEntregado !== itemt.noviembre}">{{
                                itemt.noviembreEntregado }}</td>
                            <td [ngClass]="{'text-danger fw-bold': itemt.diciembreEntregado !== itemt.diciembre}">{{
                                itemt.diciembreEntregado }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>


</div>