<div class="container mt-2">
   
    <div class="mb-2">
        <div class="text-container">
            <div class="input-group mb-2 align-center" [formGroup]="generalForm">
           
                <input type="text" formControlName="documento"
                class="form-control border-end-0 input-anch w-20"  placeholder="Digite el numero del documento">
                <span class="input-group-text bg-transparent">
                    <mat-icon [ngStyle]="{'color':'#009A94'}">zoom_in</mat-icon>
                </span>

                <input type="date" formControlName="fechainicial"
                class="form-control border-end-0 input-anch w-20">
            al
            <input type="date" formControlName="fechafinal" class="form-control border-end-0 input-ancho">

            <button type="button" class="btn btn-info btn-sm btn-custom-gradient buscar-button"
                (click)="buscarRegistro()">
                Buscar</button>

              

              

            </div>
        </div>
    </div>


    <div class="alert alert-info my-4" *ngIf="listaregistros?.length == 0">
        No hay registros para mostrar!
    </div>
    <div *ngIf="listaregistros?.length > 0">


        <table class="table table-striped table-hover table-sm">
            <thead class="thead-colored">
                <tr>
                    <th>Item</th>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Documento</th>
                    <th>Nombres y apellidos</th>
                    <th>Nacimiento</th>
                    <th>Municipio</th>
                    <th>EPS</th>
                    <th>Ver fórmulas</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemt of listaregistros let i= index"
                    [ngStyle]="{'color': itemt.estado ? 'black' : 'red' }">

                    <td>{{i+1}}</td>
                    <td>{{itemt.idPaciente}}</td>
                    <td>{{itemt.tipoDoc}}</td>
                    <td>{{itemt.numDocumento}}</td>
                    <td>{{primerasmayusculas(itemt.pNombre + ' ' + itemt.sNombre +' '+ itemt.pApellido +' '+
                        itemt.sApellido
                        )}}</td>
                    <td>{{ itemt.fecNacimiento | date:'dd/MM/yyyy' }} </td>
                    <td>{{itemt.municipio.nombre}} </td>
                    <td>{{itemt.eps.codigo}}</td>
                    <td>        

                        <mat-icon class="pointer-cursor" title="formulas paciente" [ngStyle]="{'color':'#009A94'}"
                        (click)="mostrarformula(itemt)">list_alt</mat-icon>
                    </td>
                   


                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-info my-4" *ngIf="listaformulas?.length == 0">
        No hay formulas asociadas al registros para mostrar en este periodo!
    </div>

        <div *ngIf="listaformulas?.length > 0">


            <table class="table table-striped table-hover table-sm">
                <thead class="thead-colored">
                    <tr>
                        <th>Item</th>
                        <th>Fecha Formula</th>
                        <th>Nro Formula</th>
                        <th>IPS</th>
                        <th>Médico</th>
                        <th>Fecha solicitud</th>
                        <th>Continuidad</th>
                        <th>Medicamentos</th>                  
                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemt of listaformulas let i= index">
                        <td>{{i+1}}</td>
                        <td>{{itemt.fecPrescribe | date: 'dd/MM/YYYY'}}</td>
                        <td>{{itemt.idFormula}}</td>
                        <td>{{itemt.ips.nombre}}</td>
                        <td>{{itemt.medico.nombre}}</td>
                        <td>{{itemt.fecSolicitud | date: 'dd/MM/YYYY'}}</td>
                        <td>{{itemt.continuidad}}</td>
                        <td>{{itemt.items.length}}
                            <mat-icon class="pointer-cursor" title="Ver medicamentos" [ngStyle]="{'color':'#009A94'}"
                            (click)="mostrarItemformula(itemt)">visibility</mat-icon>
                        </td>                    
                       
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="listaItemsFormula?.length > 0">

            <div class="col-12 text-center"> MEDICAMENTOS PRESCRITOS EN LA FORMULA : 
                <span class="fw-bold">{{formulaActual}}</span>
            </div>

            <table class="table table-striped table-hover table-sm">
                <thead class="thead-colored">
                    <tr>  
                        <th>ID</th>
                        <th>Medicamento</th>
                        <th>Presentación</th>
                        <th>Cant. presc</th>
                        <th>Pendientes</th>
                        <th>Estado</th>
                        <th>Entregados</th>
                        <th>Fec entrega</th>
                        <th>Med entrega</th>
                        <th>Dispensario</th>                     
                       
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listaItemsFormula; let i = index">
                        <tr>
                            <!-- Celdas para la información del medicamento -->
                            <!-- <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centered">{{ item.medicamento.codigoCum }}</td>-->
                            <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centercelda">{{ item.medicamento.idMedicamento
                                }}</td>
                            <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centercelda">{{ item.medicamento.nombre
                                }}</td>
                            <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centercelda">{{
                                item.medicamento.forma.nombre }}</td>
                            <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centered">{{ item.cantidad }}</td>
                            <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centered">{{ calcularPendiente(item) }}
                            </td>
                            <td [attr.rowspan]="item.itemsEntrega.length + 1" class="centered">
                                <mat-icon title="Entrega completa" *ngIf="item.cantidad == item.totalEntregado"
                                    [ngStyle]="{'color':'#009A94'}">check_circle_outline</mat-icon>
                                
                                     <mat-icon *ngIf="item.cantidad != item.totalEntregado && item.totalEntregado==0" 
                                     title="Pendiente"                                 
                                        [ngStyle]="{'color':'red'}">remove_circle_outline</mat-icon>                            
                                    
                                    <mat-icon *ngIf="item.cantidad != item.totalEntregado && item.totalEntregado>0"
                                         title="Pendiente parcial" 
                                        [ngStyle]="{'color':'orange'}">remove_circle_outline</mat-icon> 
    
                              
    
                            </td>
                        </tr>
                        <!-- Filas para cada entrega -->
                        <tr *ngFor="let entrega of item.itemsEntrega"
                            [ngStyle]="{'color': entrega.estado  ? 'black' : 'red' }">
                            <td class="centered">{{ entrega.cantidadEntregada || 0 }}</td>
                            <td>{{ entrega.fecEntrega | date: 'dd/MM/YYYY : hh:mm' || '' }}</td>
                            <td>{{ entrega.medioEntrega || '' }}</td>
                            <td>{{ primerasmayusculas(entrega.bodega.puntoEntrega) || '' }}</td>                           
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    
       
    </div>
