<div class="container">
    <div class="mb-3" [formGroup]="generalForm">
        <div class="row g-2 align-items-end">
            <div class="col-md-3">
                <label class="form-label mb-1 fw-bold">Documento</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control border-end-0" formControlName="documento" placeholder="Número de documento">
                    <span class="input-group-text bg-white border-start-0">
                        <mat-icon class="text-info">zoom_in</mat-icon>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-info btn-sm btn-custom-gradient w-100 d-flex align-items-center justify-content-center" (click)="buscarRegistro()">
                    <mat-icon class="search">search</mat-icon>
                    <span>Buscar</span>
                </button>
            </div>
            <div class="col-md-3">
                <label class="form-label mb-1 fw-bold">Fecha inicial</label>
                <input type="date" class="form-control form-control-sm" formControlName="fechainicial">
            </div>
            <div class="col-md-3">
                <label class="form-label mb-1 fw-bold">Fecha final</label>
                <input type="date" class="form-control form-control-sm" formControlName="fechafinal">
            </div>
            
        </div>
    </div>

    <div class="alert alert-info my-4" *ngIf="listaregistros?.length == 0">
        No hay registros para mostrar!
    </div>
    <div *ngIf="listaregistros?.length > 0">
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-colored">
                <tr>
                    <th>Item</th>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Documento</th>
                    <th>Nombres y apellidos</th>
                    <th>Nacimiento</th>
                    <th>Municipio</th>
                    <th>EPS</th>
                    <th>Ver fórmulas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemt of listaregistros let i= index" [ngStyle]="{'color': itemt.estado ? 'black' : 'red' }">
                    <td>{{i+1}}</td>
                    <td>{{itemt.idPaciente}}</td>
                    <td>{{itemt.tipoDoc}}</td>
                    <td>{{itemt.numDocumento}}</td>
                    <td>{{ primerasmayusculas((itemt.pNombre || '') + ' ' + (itemt.sNombre || '') + ' ' + (itemt.pApellido || '') + ' ' + (itemt.sApellido || '')) }}</td>
                    <td>{{ itemt.fecNacimiento | date:'dd/MM/yyyy' }} </td>
                    <td>{{itemt.municipio.nombre}} </td>
                    <td>{{itemt.eps.codigo}}</td>
                    <td>
                        <mat-icon class="pointer-cursor" title="formulas paciente" [ngStyle]="{'color':'#009A94'}" (click)="buscarFormulas(itemt.idPaciente)">list_alt</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-info my-4" *ngIf="listaformulas?.length == 0 && listaregistros?.length > 0">
        No hay formulas asociadas al registros para mostrar en este periodo!
    </div>

    <div *ngIf="listaformulas?.length > 0">
        <table class="table table-sm table-hover mt-4"> <thead class="thead-colored">
                <tr>
                    <th>Item</th>
                    <th>Fecha Formula</th>
                    <th>Nro Formula</th>
                    <th>IPS</th>
                    <th>Médico</th>
                    <th>Fecha solicitud</th>
                    <th>Continuidad</th>
                    <th>Medicamentos</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let itemt of listaformulas let i= index">
                    <tr (click)="seleccionarFormula(itemt)" 
                        class="puntero-hover"
                        [ngClass]="{'selected-row': formulaActual === itemt.idFormula}">
                        <td>{{i+1}}</td>
                        <td>{{itemt.fecPrescribe | date: 'dd/MM/yyyy'}}</td>
                        <td>{{itemt.idFormula}}</td>
                        <td>{{itemt.ips.nombre}}</td>
                        <td>{{itemt.medico.nombre}}</td>
                        <td>{{itemt.fecSolicitud | date: 'dd/MM/yyyy'}}</td>
                        <td>{{itemt.continuidad}}</td>
                        <td>
                            {{itemt.items.length}}
                            <mat-icon class="pointer-cursor" 
                                [ngStyle]="{'color': formulaActual === itemt.idFormula ? 'orange' : '#009A94'}">
                                {{ formulaActual === itemt.idFormula ? 'expand_less' : 'expand_more' }}
                            </mat-icon>
                        </td>
                    </tr>

                    <tr *ngIf="formulaActual === itemt.idFormula" class="no-hover">
                        <td colspan="8" class="bg-light p-3 shadow-inset">
                            <div class="card card-body shadow-sm border-0">
                                <div class="text-center mb-2 fw-bold text-uppercase" style="color: #009A94;"> 
                                    Medicamentos Prescritos en la Fórmula: {{formulaActual}}
                                </div>

                                <table class="table table-bordered table-sm mb-0 bg-white">
                                    <thead class="bg-dark text-white text-center">
                                        <tr>
                                            <th>ID</th>
                                            <th>Medicamento</th>
                                            <th>Presentación</th>
                                            <th>Cant. presc</th>
                                            <th>Pendientes</th>
                                            <th>Estado</th>
                                            <th>Entregados</th>
                                            <th>Fec entrega</th>
                                            <th>Med entrega</th>
                                            <th>Dispensario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let itemMed of listaItemsFormula">
                                            <tr>
                                                <td [attr.rowspan]="itemMed.itemsEntrega.length + 1" class="centercelda">{{itemMed.medicamento.idMedicamento}}</td>
                                                <td [attr.rowspan]="itemMed.itemsEntrega.length + 1" class="centercelda">
                                                    {{ itemMed.medicamento.nombre }}
                                                </td>
                                                <td [attr.rowspan]="itemMed.itemsEntrega.length + 1" class="centercelda">{{itemMed.medicamento.forma.nombre}}</td>
                                                <td [attr.rowspan]="itemMed.itemsEntrega.length + 1" class="centered">{{itemMed.cantidad}}</td>
                                                <td [attr.rowspan]="itemMed.itemsEntrega.length + 1" class="centered">{{calcularPendiente(itemMed)}}</td>
                                                <td [attr.rowspan]="itemMed.itemsEntrega.length + 1" class="centered">
                                                    <mat-icon title="Entrega completa" *ngIf="itemMed.cantidad == itemMed.totalEntregado" [ngStyle]="{'color':'#009A94'}">check_circle_outline</mat-icon>
                                                    <mat-icon *ngIf="itemMed.cantidad != itemMed.totalEntregado && itemMed.totalEntregado==0" title="Pendiente" [ngStyle]="{'color':'red'}">remove_circle_outline</mat-icon>
                                                    <mat-icon *ngIf="itemMed.cantidad != itemMed.totalEntregado && itemMed.totalEntregado>0" title="Pendiente parcial" [ngStyle]="{'color':'orange'}">remove_circle_outline</mat-icon>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let entrega of itemMed.itemsEntrega">
                                                <td class="centered">{{ entrega.cantidadEntregada || 0 }}</td>
                                                <td>{{ entrega.fecEntrega | date: 'dd/MM/YYYY : hh:mm' }}</td>
                                                <td>{{ entrega.medioEntrega }}</td>
                                                <td>{{ primerasmayusculas(entrega.bodega.puntoEntrega) }}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

