<div class="container mt-1">


  <div class="mb-3" [formGroup]="generalForm">
    <div *ngIf="listaItemBodega?.length > 0">
      <div class="row g-2 align-items-end">

        <!-- Selector de Bodega -->
        <div class="col-md-5">
          <label class="form-label mb-1 fw-bold">Nombre de la bodega</label>
          <select class="form-select form-select-sm" formControlName="idBodega">
            <option value="">Seleccione la bodega</option>
            <option *ngFor="let item of listaregistros" [ngValue]="item.idBodega">
              {{ item.nombre }}
            </option>
          </select>
        </div>

        <!-- Buscador + Icono -->
        <div class="col-md-4">
          <label class="form-label mb-1 fw-bold">Buscar medicamento</label>
          <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
              <mat-icon class="text-info">search</mat-icon>
            </span>
            <input type="text" formControlName="listFilter" class="form-control form-control-sm border-start-0"
              placeholder="Ingrese el nombre del medicamento" />
          </div>
        </div>


        <!-- Alerta (mismo nivel que el buscador) -->
        <div class="col-md-2">
          <div class="alert alert-info text-center py-2 mb-0">
            <small>
              <strong>Nro. de moléculas:&nbsp;</strong> {{ listaItemBodega?.length || 0 }}
            </small>
          </div>
        </div>
        <!-- Exportar -->
        <div class="col-md-1">
          <button type="button" class="btn  w-100 d-flex align-items-center justify-content-center"
            (click)='exportarXlxs()'>
            <img src="assets/iconos/excel.svg" alt="icono reporte" width="22" height="22" /> Exportar
          </button>

        </div>

      </div>
    </div>
  </div>




  <div class="alert alert-info my-2" *ngIf="listaItemBodega?.length == 0">
    No hay medicamentos asociados a esta bodega para mostrar!
  </div>

  <div *ngIf="listaItemBodega?.length > 0">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-colored">
        <tr>
          <th>Item</th>
          <th>Cum</th>
          <th>ID</th>
          <th>Nombre </th>
          <th>Presentación</th>
          <th>Existencia</th>
          <th>Ult. Fecha Dotación</th>
          <th>Pendiente</th>
          <th>Prom. mes último trimestre</th>

          <th>..Más</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemt of listaItemBodegaFiltro let i= index">

          <td>{{i+1}}</td>
          <td>{{itemt.cum}}</td>
          <td>{{itemt.idMedicamento}}</td>
          <td> {{itemt.nombre}}</td>
          <td>{{itemt.forma}}</td>
          <td style="color: green; text-align: right;"><strong>{{itemt.cantidad}}</strong></td>
          <td>{{itemt.ultFecIngreso | date: 'dd/MM/YYYY'}}</td>
          <td style="color: red; text-align: right;"><strong>{{itemt.pendiente}}</strong></td>
          <td style="text-align: right;">{{itemt.cantidadEntregada}}</td>
          <td>

            <div *ngIf="itemt.editing">
              <input type="text" [(ngModel)]="itemt.invima" class="form-control" placeholder="Invima" />
              <input type="text" [(ngModel)]="itemt.laboratorio" class="form-control" placeholder="Laboratorio" />
              <input type="text" [(ngModel)]="itemt.lote" class="form-control" placeholder="Lote" />
              <input type="date" [(ngModel)]="itemt.fechaVencimiento" class="form-control" />
              <input type="number" [(ngModel)]="itemt.stopMinimo" class="form-control" placeholder="Stock mínimo" />
              <input *ngIf="tieneAcceso(6)" type="number" [(ngModel)]="itemt.pendiente" class="form-control"
                placeholder="Pendiente" />
            </div>

            <mat-icon *ngIf="itemt.cantidad > 0 && !itemt.editing" title="Editar" class="puntero"
              style="font-size: 16px; color: #009A94;" (click)="editarMedicamentoBodega(itemt)">list_alt</mat-icon>
            <mat-icon *ngIf="itemt.editing" title="Guardar" class="puntero" [ngStyle]="{'color':'green'}"
              (click)="guardarMedicamentoBodega(itemt)">check</mat-icon>
            <mat-icon *ngIf="itemt.editing" class="puntero" title="Cancelar edición" [ngStyle]="{'color':'orange'}"
              (click)="cancelEdicion(itemt)">clear</mat-icon>

            <!--      <mat-icon *ngIf="!itemt.estado" title="Eliminar medicamento" class="puntero" [ngStyle]="{'color':'red'}"  (click)="eliminarMedicamentoBodega(itemt)">delete_sweep</mat-icon>  -->
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>