<div class="container mt-2">
    <div class="alert alert-info my-2" *ngIf="listaItemBodega?.length == 0">
        No hay medicamentos asociados a esta bodega para mostrar!
    </div>
   
    <div class="mb-2">
        <div class="text-container">
            <div *ngIf="listaItemBodega?.length > 0" [formGroup]="generalForm" class="input-group mb-2 align-center">
                <span class="bodega-nombre">
                    Nombre de la bodega
                </span>
                <select class="form-select" formControlName="idBodega">
                    <option selected value="null">Seleccione la bodega</option>
                    <option *ngFor="let item of listaregistros" [ngValue]="item.idBodega"> {{item.nombre }}</option>
                </select>


                <span class="bodega-nombre">
                    {{listaItemBodega[0].nombreBodega}}
                </span>
                <span class="input-group-text bg-transparent">
                    <mat-icon [ngStyle]="{'color':'#009A94'}">zoom_in</mat-icon>
                </span>
                <input type="text" formControlName="listFilter" class="form-control border-end-0 search-input"
                    placeholder="Buscar por nombre del medicamento">
            </div>
        </div>
    </div>
    
  
    <div *ngIf="listaItemBodega?.length > 0">
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-colored">
                <tr>
                    <th>Item</th>
                    <th>Cum</th>
                    <th>ID</th>
                    <th>Nombre </th>
                    <th>Presentación</th>
                    <th>Existencia</th>
                    <th>Ult. Fecha Dotación</th>
                    <th>Máx. Entrega</th>
                    <th>Stock Min.</th>
                    <th>Gestión</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemt of listaItemBodegaFiltro let i= index">

                    <td>{{i+1}}</td>
                    <td>{{itemt.cum}}</td>
                    <td>{{itemt.idMedicamento}}</td>
                    <td>{{itemt.nombre}}</td>
                    <td>{{itemt.forma}}</td>
                    <td>{{itemt.cantidad}}</td>
                    <td>{{itemt.ultFecIngreso | date: 'dd/MM/YYYY'}}</td>

                    <td>{{itemt.cantidadEntregada}}</td>
                    <td>
                        <div *ngIf="itemt.editing">
                            <input type="number" [(ngModel)]="itemt.stopMinimo" class="form-control" />
                        </div>
                        <div *ngIf="!itemt.editing">
                            {{itemt.stopMinimo}}
                        </div>

                    <td>                       
                            <mat-icon  *ngIf="!itemt.estado && !itemt.editing" title="Editar stock minimo" class="puntero" [ngStyle]="{'color':'#009A94'}" (click)="editarMedicamentoBodega(itemt)">edit</mat-icon>                      
                        
                            <mat-icon *ngIf="!itemt.estado && itemt.editing" title="Guardar el stock minimo" class="puntero" [ngStyle]="{'color':'green'}" (click)="guardarMedicamentoBodega(itemt)">check</mat-icon>                       
                            <mat-icon *ngIf="!itemt.estado && itemt.editing"  class="puntero" title="Cancelar edición" [ngStyle]="{'color':'orange'}" (click)="cancelEdicion(itemt)">clear</mat-icon>

                      <!--      <mat-icon *ngIf="!itemt.estado" title="Eliminar medicamento" class="puntero" [ngStyle]="{'color':'red'}"  (click)="eliminarMedicamentoBodega(itemt)">delete_sweep</mat-icon>  -->
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>