<div class="login-container">
  <div class="login-form">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="idBodega">Dispensario de medicamento:</label>
            <select class="form-select" formControlName="idBodega" required>
                <option selected value="">Seleccione la bodega</option>
                <option *ngFor="let item of listaregistros" [ngValue]="item.idBodega">{{item.nombre }} - {{item.puntoEntrega }}</option>
            </select>
            <div *ngIf="loginForm.get('idBodega')?.invalid && loginForm.get('idBodega')?.touched">
              <small *ngIf="loginForm.get('idBodega')?.errors?.['required']">Dispensario es requerido.</small>
              
            </div>
          </div>
      
        <div>
        <label for="Usuario">Usuario:</label>
        <input class="form-select"  id="usuario" formControlName="usuario" type="number">
        <div *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched">
          <small *ngIf="loginForm.get('usuario')?.errors?.['required']">El Usuario es requerido.</small>
         
        </div>
      </div>
      
      <div>
        <label for="password">Password:</label>
        <input  class="form-select" id="password" formControlName="password" type="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password es requerido.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Contraseña debe ser mayor a 6 characteres de longitud.</small>
        </div>
      </div>
      
      <button class="btn-custom-gradient" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
  </div>
    <div class="login-image">
      <img src="assets/logosism.png" alt="Login Image" />
    </div>
  </div>