.card-body {
  padding: 10px; /* Reduce el espacio interno */
}

.card-body p {
  margin: 4px 0; /* Reduce el margen entre párrafos */
  font-size: 14px; /* Ajusta el tamaño de fuente */
  line-height: 1.3; /* Ajusta el espacio entre líneas */
}

.card-body p strong {
  font-weight: 600; /* Asegura que los títulos sean visibles pero no demasiado grandes */
}

.card {
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background: linear-gradient(to right, #5D8FA5, #6CC5D4);
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px 8px 0 0;
}

@media print {
  body {
    font-size: 20px;  /* Aumenta el tamaño de la fuente */
    margin: 1mm;  /* Ajusta los márgenes */
    padding: 10px;
  }
  pre {
    font-size: 20px; /* Asegura que el contenido sea legible */
    line-height: 1.5;
    margin: 1mm;
  }
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; /* Aumentar tamaño */
  font-weight: bold; /* Aplicar negrita */
  line-height: 1.5; /* Más espaciado */
}

::ng-deep .mat-badge-content {
  font-size:8px;        /* Tamaño del número */
  height: 10px;           /* Alto del círculo */
  min-width: 10px;        /* Ancho mínimo del círculo */
  line-height: 10px;      /* Centrado vertical del texto */
  padding: 0;
}
